<a href="https://colab.research.google.com/github/seonghunYang/big_contest2020/blob/master/EDA3_2_%EC%84%B8%EC%9D%B4%EB%B2%84_%EB%A7%A4%ED%8A%B8%EB%A6%AD%EC%8A%A4_%ED%8C%80%ED%83%80%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = './gdrive/My Drive/빅콘테스트2020/데이터/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/'

In [3]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [32]:
saver = pd.read_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA3-세이버 매트릭스_합본.csv', encoding='utf-8-sig')
team_hitter_2016 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2016.csv', encoding='utf-8-sig')
team_hitter_2017 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2017.csv', encoding='utf-8-sig')
team_hitter_2018 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2018.csv', encoding='utf-8-sig')
team_hitter_2019 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2019.csv', encoding='utf-8-sig')
team_hitter_2020 = pd.read_csv(path + '2020빅콘테스트_스포츠투아이_제공데이터_팀타자_2020.csv', encoding='utf-8-sig')
team_hitter_list = [team_hitter_2016, team_hitter_2017, team_hitter_2018, team_hitter_2019, team_hitter_2020]
team_hitter = pd.concat(team_hitter_list)
team_hitter_list.append(team_hitter)

In [33]:
saver = saver[['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드',
       '초말', '선수코드', '선발', '타순', '타자', '타수', '타점', '득점', '안타', '2루타', '3루타',
       '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구', '삼진', '병살타', '실책',
       '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타', '출루율', '장타력', 'ops', '타율',
       'BABIP', 'BB/K', 'ISO', 'K%', 'BB%']]

In [34]:
new_columns = "게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책,잔루,득점권타율,득점권타수,득점권안타"
new_columns = new_columns.split(',')
for team_h in team_hitter_list:
  team_h.columns = new_columns

In [35]:
team_hitter

               게임키        일자 팀코드 상대팀코드  더블헤더코드  ... 실책  잔루     득점권타율  득점권타수  득점권안타
0    20160401HHLG0  20160401  LG    HH       0  ...  0   8  0.333333     12      4
1    20160401HHLG0  20160401  HH    LG       0  ...  2  12  0.200000     15      3
2    20160401HTNC0  20160401  NC    HT       0  ...  1   7  0.142857      7      1
3    20160401HTNC0  20160401  HT    NC       0  ...  0   7  0.100000     10      1
4    20160401KTSK0  20160401  SK    KT       0  ...  1   5  0.375000      8      3
..             ...       ...  ..   ...     ...  ... ..  ..       ...    ...    ...
635  20200719LTSS0  20200719  LT    SS       0  ...  0   2  0.000000      2      0
636  20200719OBHT0  20200719  HT    OB       0  ...  0   7  0.571429      7      4
637  20200719OBHT0  20200719  OB    HT       0  ...  0   6  0.363636     11      4
638  20200719WOSK0  20200719  SK    WO       0  ...  0   9  0.250000      8      2
639  20200719WOSK0  20200719  WO    SK       0  ...  0   7  0.333333      3      1

[6400 rows x 28 columns]

득점권타율, 타수, 안타 기록은 후행기록, 세이버 메트릭스는 경기전 기록임(승패 예측 용도이기 떄문)

In [46]:
team_saver = saver.groupby(['게임키', '팀코드']).mean()

In [51]:
team_saver = team_saver.reset_index()

In [57]:
team_saver.iloc[1430: 1450]

                게임키 팀코드       출루율  ...       ISO        K%       BB%
1430  20161008HTHH0  HH  0.337773  ...  0.123596  0.207812  0.070068
1431  20161008HTHH0  HT  0.268110  ...  0.101695  0.139601  0.057034
1432  20161008OBLG0  LG  0.345326  ...  0.104111  0.154567  0.070547
1433  20161008OBLG0  OB  0.350440  ...  0.139951  0.166574  0.088882
1434  20161008SSSK0  SK  0.363748  ...  0.157054  0.187456  0.074433
1435  20161008SSSK0  SS  0.310920  ...  0.111410  0.178937  0.079625
1436  20161009KTNC0  KT  0.304761  ...  0.100321  0.201789  0.073054
1437  20161009KTNC0  NC  0.354748  ...  0.117553  0.173602  0.087976
1438  20161009WOLT0  LT  0.354039  ...  0.111008  0.205347  0.097420
1439  20161009WOLT0  WO  0.334427  ...  0.125439  0.217129  0.081819
1440  20170331HHOB0  HH  0.000000  ...  0.000000  0.000000  0.000000
1441  20170331HHOB0  OB  0.000000  ...  0.000000  0.000000  0.000000
1442  20170331HTSS0  HT  0.000000  ...  0.000000  0.000000  0.000000
1443  20170331HTSS0  SS  0.000000  ...  0.000000  0.000000  0.000000
1444  20170331KTSK0  KT  0.000000  ...  0.000000  0.000000  0.000000
1445  20170331KTSK0  SK  0.000000  ...  0.000000  0.000000  0.000000
1446  20170331LGWO0  LG  0.000000  ...  0.000000  0.000000  0.000000
1447  20170331LGWO0  WO  0.000000  ...  0.000000  0.000000  0.000000
1448  20170331LTNC0  LT  0.000000  ...  0.000000  0.000000  0.000000
1449  20170331LTNC0  NC  0.000000  ...  0.000000  0.000000  0.000000

[20 rows x 11 columns]

In [43]:
team_hitter_saver = pd.merge(team_hitter, saver, on=['게임키', '팀코드'], how='left')

In [44]:
team_hitter_saver = team_hitter_saver.groupby(['게임키', '팀코드']).mean

                 게임키      일자_x 팀코드  ...       ISO        K%       BB%
0      20160401HHLG0  20160401  LG  ...  0.000000  0.000000  0.000000
1      20160401HHLG0  20160401  LG  ...  0.000000  0.000000  0.000000
2      20160401HHLG0  20160401  LG  ...  0.000000  0.000000  0.000000
3      20160401HHLG0  20160401  LG  ...  0.000000  0.000000  0.000000
4      20160401HHLG0  20160401  LG  ...  0.000000  0.000000  0.000000
...              ...       ...  ..  ...       ...       ...       ...
81097  20200719WOSK0  20200719  WO  ...  0.163366  0.213043  0.104348
81098  20200719WOSK0  20200719  WO  ...  0.252964  0.073684  0.084211
81099  20200719WOSK0  20200719  WO  ...  0.261905  0.303846  0.153846
81100  20200719WOSK0  20200719  WO  ...  0.148472  0.102564  0.139194
81101  20200719WOSK0  20200719  WO  ...  0.058824  0.111842  0.072368

[81102 rows x 39 columns]

개인타자 기록을 groupby하여 팀 기록으로 만드는 것은 부정확하다는 것을 알게되었다. 선수마다 나오는 경기가 다르기 때문! 따라서 team 기록을 이용하여 다시 구하기로 하였다.

In [61]:
team_hitter

               게임키         일자 팀코드 상대팀코드  ...  득점권타수 득점권안타    시즌  단타
0    20160401HHLG0 2016-04-01  LG    HH  ...     12     4  2016   6
1    20160401HHLG0 2016-04-01  HH    LG  ...     15     3  2016  11
2    20160401HTNC0 2016-04-01  NC    HT  ...      7     1  2016   5
3    20160401HTNC0 2016-04-01  HT    NC  ...     10     1  2016   4
4    20160401KTSK0 2016-04-01  SK    KT  ...      8     3  2016   4
..             ...        ...  ..   ...  ...    ...   ...   ...  ..
635  20200719LTSS0 2020-07-19  LT    SS  ...      2     0  2020   4
636  20200719OBHT0 2020-07-19  HT    OB  ...      7     4  2020   7
637  20200719OBHT0 2020-07-19  OB    HT  ...     11     4  2020   7
638  20200719WOSK0 2020-07-19  SK    WO  ...      8     2  2020   6
639  20200719WOSK0 2020-07-19  WO    SK  ...      3     1  2020   6

[6400 rows x 30 columns]

In [60]:
for hitter_i in team_hitter_list:
  hitter_i['일자'] = pd.to_datetime(hitter_i['일자'],format='%Y%m%d', errors='raise')
  hitter_i['시즌'] = hitter_i['일자'].dt.year 
  
for hitter_i in team_hitter_list:
  hitter_i['단타'] = hitter_i['안타'] - (hitter_i['2루타'] + hitter_i['3루타'] + hitter_i['홈런'])

In [62]:
def runBaseP(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['출루율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타'] + previous_sum['4구']  + previous_sum['사구']
    down = previous_sum['사구'] + previous_sum['타수'] + previous_sum['4구'] + previous_sum['희비']
    if down == 0:
        row['출루율'] = 0
        return row
    row['출루율'] = up / down
    return row

def longHitP(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['장타력'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['단타'] * 1 + previous_sum['2루타'] * 2 + previous_sum['3루타'] * 3 + previous_sum['홈런'] * 4
    down = previous_sum['타수']
    if down == 0:
        row['장타력'] = 0
        return row
    row['장타력'] = up / down

    return row
def hitP(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['타율'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['안타']
    down = previous_sum['타수']
    if down == 0:
        row['타율'] = 0
        return row
    row['타율'] = up / down
    return row

def createBABIP(row):
  previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
  if len(previous) == 0:
      row['BABIP'] = 0
      return row
  previous_sum = previous.sum()
  up = previous_sum['안타'] - previous_sum['홈런']
  down = previous_sum['타수'] - previous_sum['홈런'] - previous_sum['삼진'] + previous_sum['희비']
  if down == 0:
      row['BABIP'] = 0
      return row
  row['BABIP'] = up / down
  return row

def createBBK(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['BB/K'] = 0
        return row
    previous_sum = previous.sum()
    up = previous_sum['4구']
    down = previous_sum['삼진']
    if down == 0:
        row['BB/K'] = 0
        return row
    row['BB/K'] = up / down
    return row

def createK_BB(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['K%'] = 0
        row['BB%'] = 0
        return row
    previous_sum = previous.sum()
    up_k = previous_sum['삼진']
    up_BB = previous_sum['4구'] - previous_sum['고4']
    down = previous_sum['타자'] - previous_sum['고4']
    if down == 0:
        row['K%'] = 0
        row['BB%'] = 0
        return row
    row['K%'] = up_k / down
    row['BB%'] = up_BB / down
    return row

In [63]:
team_hitter = team_hitter.apply(runBaseP,axis=1)
team_hitter = team_hitter.apply(longHitP,axis=1)
team_hitter['ops'] = team_hitter['출루율'] + team_hitter['장타력']
team_hitter = team_hitter.apply(hitP,axis=1)
team_hitter['ISO'] = team_hitter['장타력'] - team_hitter['타율']
team_hitter = team_hitter.apply(createBABIP,axis=1)
team_hitter = team_hitter.apply(createBBK,axis=1)
team_hitter = team_hitter.apply(createK_BB,axis=1)

In [65]:
team_hitter.iloc[1430: 1450]

                게임키         일자 팀코드  ...      BB/K        K%       BB%
1430  20161008HTHH0 2016-10-08  HH  ...  0.494592  0.176165  0.083839
1431  20161008HTHH0 2016-10-08  HT  ...  0.500000  0.175594  0.085669
1432  20161008OBLG0 2016-10-08  LG  ...  0.532854  0.170250  0.088970
1433  20161008OBLG0 2016-10-08  OB  ...  0.676538  0.151824  0.100813
1434  20161008SSSK0 2016-10-08  SK  ...  0.422200  0.179569  0.073501
1435  20161008SSSK0 2016-10-08  SS  ...  0.638372  0.148046  0.091926
1436  20161009KTNC0 2016-10-09  NC  ...  0.601980  0.174922  0.102182
1437  20161009KTNC0 2016-10-09  KT  ...  0.535637  0.166248  0.087792
1438  20161009WOLT0 2016-10-09  LT  ...  0.562914  0.184532  0.100733
1439  20161009WOLT0 2016-10-09  WO  ...  0.582105  0.168231  0.094918
0     20170331HHOB0 2017-03-31  OB  ...  0.000000  0.000000  0.000000
1     20170331HHOB0 2017-03-31  HH  ...  0.000000  0.000000  0.000000
2     20170331HTSS0 2017-03-31  SS  ...  0.000000  0.000000  0.000000
3     20170331HTSS0 2017-03-31  HT  ...  0.000000  0.000000  0.000000
4     20170331KTSK0 2017-03-31  SK  ...  0.000000  0.000000  0.000000
5     20170331KTSK0 2017-03-31  KT  ...  0.000000  0.000000  0.000000
6     20170331LGWO0 2017-03-31  WO  ...  0.000000  0.000000  0.000000
7     20170331LGWO0 2017-03-31  LG  ...  0.000000  0.000000  0.000000
8     20170331LTNC0 2017-03-31  NC  ...  0.000000  0.000000  0.000000
9     20170331LTNC0 2017-03-31  LT  ...  0.000000  0.000000  0.000000

[20 rows x 39 columns]

In [68]:
team_hitter.to_csv('./gdrive/My Drive/빅콘테스트2020/EDA결과/EDA3-팀타자_세이버 매트릭스_합본.csv', encoding='utf-8-sig')